<!DOCTYPE html>
<html lang="en-US">

<!--
    Author:     Stephen Biston
    Date:       11/18/2015

    Contact page for Jack Dill Land-Surveying.
-->

{% include 'header.html' %}

<body>
    <div id="content">
        <!-- Header -->
        <div class="banner">
            <h1 id="banner-title">Dill</h1><h3 id="banner-cotitle">Land Surveying</h3>
            <!--<h4 id="banner-subtitle">Surveying Buffalo and Dallas County since 1990</h4>-->
        </div>
        <nav>
            <a class="nav-link" href="index.html">Home</a>
            <a class="nav-link" href="faq.html">FAQ</a>
            <a class="nav-link" href="contact.html">Contact</a>
        </nav>
        <!-- End Header -->

        <div class="content-section">
            <h2 class="section-header">Contact</h2>
            <ul class="contact-list">
                <li>Jack L. Dill, PLS</li>
                <li>16 Sherwood Trail</li>
                <li>Buffalo, MO 65622</li>
                <li>416-345-6508</li>
                <li><a href="mailto:jdill@centurytel.net">jdill@centurytel.net</a></li>
            </ul>
        </div>
    </div>
</body>

</html>
