<!DOCTYPE html>
<html lang="en-US">

<!--
    Author:     Stephen Biston
    Date:       11/18/2015

    Home page for Jack Dill Land-Surveying.
-->

{% include 'header.html' %}

<body>
    <div id="content">
        <!-- Header -->
        <div class="banner">
            <h1 id="banner-title">Dill</h1><h3 id="banner-cotitle">Land Surveying</h3>
            <!--<h4 id="banner-subtitle">Surveying Buffalo and Dallas County since 1990</h4>-->
        </div>
        <nav>
            <a class="nav-link" href="index.html">Home</a>
            <a class="nav-link" href="faq.html">FAQ</a>
            <a class="nav-link" href="contact.html">Contact</a>
        </nav>
        <!-- End Header -->

        <div class="content-section">
            <h1 class="section-header">This is the home page!</h1>
            <p class="content-subheader">Here's where it all begins</p>
        </div>

        <div class="content-section">
            <h2 class="section-header">There can be some text here</h2>
            <p class="content-subheader">And we can describe the topic here.</p>
        </div>
        <div class="content-section">
            <h2 class="section-header">Maybe even some more here?</h2>
            <p class="content-subheader">Why not throw another description in?</p>
            <div class="content">
                <p>
                    And here we could even have a block of text. Anything you might want
                    could go here, that's what a website is for! Pictures? A business
                    description? A cool blog post? News/events/general whatnot? The sky is
                     the limit!
                </p>
            </div>
        </div>
    </div>
</body>

</html>
