<!DOCTYPE html>
    <head>
    {% include '/home/head.html' %}
    </head>
    <body>
        <div class='project header'>
            <h1>Stephen's Projects</h1>
        </div>
        <div class='project info'>
            <div class='project section'>
            <h3>Active Projects</h3>
            <!--ko foreach: activeProjects-->
                <div class="project wrapper">
                    <a class="project link" data-bind="text: name"></a>
                </div>
                <!--/ko-->
            </div>
            <!--ko if: inactiveProjects-->
            <div class='project section disabled'>
            <h3>Inactive Projects</h3>
            <!--ko foreach: inactiveProjects-->
                <div class="project wrapper disabled">
                    <a class="project link disabled" data-bind="text: name"></a>
                </div>
            <!--/ko-->
            </div>
            <!--/ko-->
        </div>
    </body>
</html>
